<meta name="google-site-verification" content="6u8VGqjFS9anfKOoaCPpEUDmrA5ZB6H49vGUM3IbvgQ" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>마음 , 인지행동심리상담센터 - 센터소개</title>
    <script type="application/ld+json">
    {
      "@context" : "https://web-dev-project-1-one-page-version.pages.dev",
      "@type" : "WebSite",
      "name" : "마음 , 인지행동심리상담센터",
      "alternateName": ["마음 쉼(표)CBT", "마음, CBT상담", "수지 마음,인지행동상담센터"], 
      "url" : "https://web-dev-project-1-one-page-version.pages.dev/"
    }
  </script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@300;400;500&family=Cormorant+Garamond:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
<link rel="stylesheet"  href="../style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
 

<div id="admin-bar">
  <span class="ab-badge">관리자 모드</span>
  <div class="ab-actions">
    <button id="savedbtn" class="ab-btn save" onclick="saveAll()">💾 저장</button>
    <button class="ab-btn" onclick="logout()">로그아웃</button>
  </div>
</div>

<nav id="nav">
  <a class="nav-brand" href="../index.html" >
    <img src="../assets/logo-rm-bg.png" alt=" 로고" class="nav-logo"><span>마음 ,인지행동심리상담센터</span></a>
  <button class="burger" onclick="toggleMenu()"><span></span><span></span><span></span></button>
  <ul class="nav-list" id="nav-list">
    <li><a href="../index.html" class="active">홈</a></li>
    <li><a href="../categories/center_into.html" class="active">센터소개</a></li>
    <li><a href="../categories/experts.html">전문가 소개</a></li>
    <li><a href="../categories/procedure.html">상담안내</a></li>
    <li><a href="../categories/specialties.html">상담 프로그램</a></li>
    <li><a href="../categories/location.html">오시는 길</a></li>
    <li><a href="../categories/apply.html">상담예약</a></li>
    <li><a href="../categories/selfcheck.html">자가진단</a></li>
    <li><a href="../categories/aboutme.html">나를 알아보기</a></li>
     <li><a href="../categories/manager.html" class="nav-mgr" id="mgr-link">Manager ↗</a></li>
  </ul>
</nav>